@import "tailwindcss";
@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }

}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}
.hero {
  min-height: 100vh;
  position: relative;
}

.hero-content {
  max-width: 1400px;
  margin: auto;
  padding: 0 80px;
}

@media (max-width: 1024px) {
  .hero-content {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    padding: 0 20px;
  }
}
html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}